# {{ ansible_managed }}

proxy_cache_path {{ repo_nginx_proxy_cache_path }};

upstream pypiserver {
    server localhost:{{ repo_pypiserver_port }};
}

upstream pypi {
    server pypi.python.org:443;
    keepalive 16;
}
